<div class="home">
  <div class="home-content">
    <p class="sub-title">〜今日だけ誰かとマッチしませんか〜</p>
    <h1 class="title mb-2">One Day Match</h1>
    <h2 class="btn btn-primary mr-2">新規登録</h2>
    <h2 class="btn btn-success ml-2">ログイン</h2>
  </div>
</div>