/* app/assets/stylesheets/application.scss */
@import "bootstrap";
@import "homes";
@import "posts";

html,   
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
    display: flex;
    background-color: black;
    height: 60px;
  }
  
  header div:first-child {
    margin-right: auto;
    font-size: 25px;
  }
  
  header div {
    margin-left: 30px;
    line-height: 60px;
  }
  
  header div:last-child {
    margin-right: 30px;
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  a:hover {
    color: aqua !important;
  }
  
  #head-top {
    font-size: 25px;
    text-decoration: none;
  }
  