@import "bootstrap";
@import "homes";
@import "posts";
@import "signup";
@import "devise";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: black;
  height: 60px;
}

header div:first-child {
  margin-right: auto;
  font-size: 25px;
}

header div {
  margin-left: 30px;
  line-height: 60px;
}

header div:last-child {
  margin-right: 30px;
}

a:hover {
  color: aqua !important;
}

#head-top {
  font-size: 25px;
  text-decoration: none;
}

/* ヘッダー内のログアウト(button_to)を横並びに揃える */
header nav form {
  margin: 0;
  display: flex;
  align-items: center;
}

header nav form button {
  height: 31px;          /* btn-sm と同じ高さ */
  padding: 0 0.5rem;     /* 横余白を link_to と揃える */
  line-height: 1.2;
}
