/* ===== Devise login (from Traveler) ===== */

.bg {
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    background: linear-gradient(
      to right,
      rgba(13, 128, 214, 0.42),
      rgba(0, 107, 139, 0.12)
    );
  }
  
  .box {
    width: 350px;
    height: 600px;
    margin: auto;
    border-radius: 4px;
    border: 1px #ddd solid;
  }
  
  .box-inner {
    padding: 20px 26px;
    background-color: white;
  }
  
  .box-email {
    margin-bottom: 13px;
  }
  
  .box-password {
    margin-bottom: 22px;
  }
  
  .box-email label,
  .box-password label {
    font-weight: 700;
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 2px;
  }
  
  .box-email input[type="email"],
  .box-password input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    padding: 0 7px;
  }
  
  .column-left {
    float: left;
  }
  
  .column-right {
    float: right;
  }
  
  .box-password a {
    font-size: 13px;
  }
  
  .box-login {
    margin-bottom: 26px;
  }
  
  .box-login input[type="submit"] {
    width: 100%;
    height: 31px;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-radius: 3px;
    border: 1px #a88734 solid;
  }
  
  .box-login input[type="submit"]:hover {
    cursor: pointer;
    background: #f0c14b;
  }
  
  .remember {
    font-size: 13px;
    margin-top: 18px;
    padding-left: 3px;
  }
  
  .box-newusr p {
    text-align: center;
    font-size: 12px;
    color: #767676;
    margin-bottom: 14px;
  }
  
  .box-newusr p span {
    text-decoration: line-through;
    text-decoration-color: #e7e7e7;
  }
  
  .box-newusr a {
    display: block;
    width: 100%;
    height: 31px;
    font-size: 13px;
    color: #111;
    line-height: 31px;
    text-align: center;
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border-radius: 3px;
    border: 1px #a2a6ac solid;
  }
  
  .box-newusr a:hover {
    background: #e7e9ec;
  }
  