.home {
  height: 100vh;
  width: 100%;

  background-image: image-url("top.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  text-align: center;
}
