/* app/assets/stylesheets/posts.scss */

h1 {
    font-family: serif;
  }
  
  .cover-index {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/index.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
  }
  
  
  .form-label {
    font-size: 20px;
  }
  
  
  .cover-index {
    display: flex;
    justify-content: center;
  }
  
  .cover-index .container {
    max-width: 900px;
  }
  
  /* 投稿詳細ページ */

.cover-show {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/show.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
  }
  
  #text {
    font-size: 18px;
  }
  
  /* 投稿編集ページ */

.cover-edit {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/edit.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
  }


  .cover-new {
    min-height: 100vh;
    width: 100%;
    padding-top: 80px; /* header対策 */
  }
  
  /* =========================
   新規投稿ページ（new）
   ========================= */

.cover-overlay {
  min-height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.45);

  display: flex;
  justify-content: center;   /* 横中央 */
  align-items: flex-start;   /* 上から配置 */
  padding-top: 40px;
}

.posts-new {
  width: 600px;
  margin: 40px auto;
  padding: 24px;

  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.18);
}
