/* app/assets/stylesheets/posts.scss */

h1 {
    font-family: serif;
  }
  
  .cover-index {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/index.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
  }
  
  
  .form-label {
    font-size: 20px;
  }
  
  .form-group {
    width: 600px;
  }
  
  .cover-index {
    display: flex;
    justify-content: center;
  }
  
  .cover-index .container {
    max-width: 900px;
  }
  
  /* 投稿詳細ページ */

.cover-show {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/show.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
  }
  
  #text {
    font-size: 18px;
  }
  
  /* 投稿編集ページ */

.cover-edit {
    min-height: 100vh;
    width: 100%;
    background-image: url("/assets/edit.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: center;
  }
  